<main class="bg">
  <div class="splash-app-name">
    <h1 class="bottom-margin">BarH</h1>
    <%= image_tag("five-oclock-white", class: "flex-col", width: "28px", height: "28px") %>
    <h1 class="bottom-margin">pBuddy</h1>
  </div>
</main>
