<main class="bg">
  <div class="splash-app-name">
    <h1 class="reset-margin title-size">BarH</h1>
    <%= image_tag("five-oclock-white", class: "flex-col shift-down", width: "42px", height: "42px") %>
    <h1 class="reset-margin title-size">pBuddy</h1>
  </div>
</main>
