<div class="flex-row-center">
    <button class="ui button robo-thin", onclick="getLocation()">
        Calculate Location
    </button>
</div>
<div class="flex-row-center">
    <p class="robo-thin", id="location"><%= current_user.last_location unless current_user.last_location.nil? %></p>
</div>

<script>
function getLocation() {
    navigator.geolocation.getCurrentPosition(postPosition);
}

function postPosition(position) {
    $.post('/location',{long:position.coords.longitude, lat:position.coords.latitude});
    window.setTimeout(function(){
        location.reload();
    }, 1000);
}
</script>
